:root{
  --orange:#ffa500;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section, footer, header{
  padding: 2rem 9%;
}

/* Header */
header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  /* text-transform: uppercase; */
}

header .logo span{
  color:var(--orange);
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

/* End of Header */


.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
  margin: .2rem;
}

.heading span.space{
  background:none;
}

.gallery .heading, .about .heading {
  margin-top: 100px;
}


.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}




.content{
  padding:2rem;
}

.content h3{
  font-size:2rem;
  color:#333;
}

/* .content h3 i{
  color:var(--orange);
} */

.content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}





/* About */
.hero {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url(~/assets/images/boat/background.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.about p{
  font-size: 2.5rem;
  padding:.5rem 0;
}

.ocean {
  height: 220px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.water {
  height: 100%;
  position: absolute;
  right: 0;
  animation: water 10s linear infinite;
}

@keyframes water {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(700px);
  }
}

.boat {
  width: 350px;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.boat img {
  width: 100%;
  -webkit-box-reflect: below 0 linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.6));
  animation: boat 2s linear infinite;
}

@keyframes boat {
  0%{
      transform: rotate(0deg) translateY(0);
  }
  25%{
      transform: rotate(-1deg) translateY(-3px);
  }
  50% {
      transform: rotate(0deg) translateY(-5px);
  }
  75%{
      transform: rotate(1deg) translateY(-3px);
  }
  100%{
      transform: rotate(0deg) translateY(0);
  }
}

.cloud {
  height: 250px;
  position: absolute;
  right: 0;
  animation: cloud 10s linear infinite;
}

@keyframes cloud {
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(500px);
  }
}







.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



/* Footer */
.footer{
  background:#333;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}
/* End of Footer */
